/* this might be unecessary ? https://github.com/xtermjs/xterm.js/issues/3564 */
  /* see : https://github.com/xtermjs/xterm.js/issues/3564#issuecomment-1004417440 */

/* 
.terminal-container{
  overflow: hidden;
}

*/

.xterm .xterm-viewport {
  width: initial !important;
}

#terminal {
  height: 100%;
  width: 100%;
  /* width: initial !important; */
  padding: 5px;
  background-color: black;
}

.terminal-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* This one is needed to house the fixed-size graph */
.log-container {
  position: absolute;
  /* height: inherit; */
}
