# Rename this file to .env and populate with your own config

# Flag to specify whether we're running as a private, localservice
# if true, Auth will NOT be enforced
LOCAL_SERVICE=true

# Port to listen on
PORT=4000

# OpenAI key. Required.
OPENAI_API_KEY=

#OpenAI embedding model to use.
OPENAI_EMBEDDING_MODEL=text-embedding-ada-002

# Pinecone API key. Required.
PINECONE_API_KEY=

# Pinecone "environment" - this is your region. Find it in the Pinecone console
PINECONE_ENVIRONMENT=

# Pinecone index to use. You must create it using Pinecone console
PINECONE_INDEX=tana-helper

# If running in production on a hosted server, you MUST setup and
# configure Auth0 and set these properties otherwise your data 
# will be publicly accessible
AUTH0_AUDIENCE=
AUTH0_DOMAIN=
