# Rename this file to .env and populate with your own config

# Flag to specify whether we're running as a private, localservice
# if true, Auth will NOT be enforced
LOCAL_SERVICE=true

# Port to listen on
PORT=4000

# OpenAI key. Optional, BUT if you do not supply it, you must supply
# it on every API call as a "openai" property of your JSON payload.
OPENAI_API_KEY=

#OpenAI embedding model to use.
OPENAI_EMBEDDING_MODEL=text-embedding-ada-002

# Pinecone API key. Optional, BUT if you do not supply it, you must supply
# it on every API call as a "pinecone" property of your JSON payload.
PINECONE_API_KEY=

# Pinecone "environment" - this is your region. Find it in the Pinecone console
PINECONE_ENVIRONMENT=

# Pinecone index to use. You must create it using Pinecone console
PINECONE_INDEX=tana-helper

