# COPY THIS FILE to .env and set the values appropriately

OPENAI_API_KEY=<whatever your key is>
TANA_API_TOKEN=<whatever your token is>

# defaults in the code...
WEBHOOK_TEMPLATE_PATH=/tmp/tana_helper/webhooks
TEMP_FILES=/tmp/tana_helper/tmp
EXPORT_PATH=/tmp/tana_helper/export
TANA_ENVIRONMENT=us-west4-gcp-free
TANA_NAMESPACE=tana-namespace
TANA_INDEX=tana-helper
