.spinner-container {
  position: relative;
  height: inherit;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.graph-container {
  height: 100%;
  width: 100%;
  padding: 0px;
  overflow: hidden;
}

/* This one is needed to house the fixed-size graph */
.abs-container {
  position: absolute;
  height: inherit;
}
